body {
	margin: 16px 32px;
	font: 15px verdana, Helvetica, sans-serif;
	color: #212121;
}

h1, h2, h3 {
  margin: 5px 10px;
	font-family: Georgia, Helvetica, sans-serif;
	color: #333;
}

a {
	color: #393939;
}

a:hover {
	text-decoration: none;
	color: #393939;
}

a img {
	border: none;
}

hr {
	display: none;
}

/* Header */
#header {
  border-bottom: 3px solid #ddd;
  padding-bottom: 4px;
}

#header h2 a {
	text-decoration: none;
	color: #333;
	font-size: 32pt;
}

#header #mainNav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#header #mainNav li {
  display: inline;
  margin: 0;
  padding: 0;
}

#header #mainNav li a {
  background: #ccc;
  padding: 4px;
  text-decoration: none;
}

#header #mainNav li a:hover {
  background: #333;
  color: #ccc;
}


/* Content */

#content {
	padding-top: 5px;
}

h3.photoList {
  clear: both;
  margin: 40px 0 0 10px;
  font-size: 38pt;
}

.photoList {
  margin: 0 auto;
}

.photoList .photoListMember {
  float: left;
  width: 150px;
  height: 200px;
  margin: 2px;
  padding: 4px;
  background: #eee;
}

.photoList .photoListMember img.headshot {
  width: 100px;
  display: block;
  margin: 0 auto;
  border: 1px solid #ccc;
}

.photoList .photoListMember img.flag {
  display: inline;
  height: 16px;
  margin: 0 2px 0 0;
  vertical-align: middle;
}

.photoList .photoListMember a {
  text-decoration: none;
  font-weight: bold;
}

.photoList .photoListMemberGroup a {
  display: block;
  font-size: small;
  font-weight: normal;
  color: #666;
}


.memberLink img {
  float: left;
  width: 170px;
  height: 215px;
  margin-right: 4px;
}

.memberLink a.memberName {
  font-weight: bold;
  font-size: larger;
}


.contribBreak {
  margin-bottom: 30px;
}

.contrib h2 {
  font-size: 48pt;
  padding: 16px 0 0 0;
  border-top: 8px solid #ddd;
  margin: 16px 0;
}

.contrib table.contribLayout {
  width: 100%;
}

.contrib table.contribLayout td {
  vertical-align: top;
}

.contrib table.contribLayout td.gutter {
  width: 190px;
  background: #eee;
}

.contrib table.contribLayout td.gutter img.headshot {
  margin: 20px auto;
  display: block;
  border: 1px solid #ddd;
}
.contrib table.contribLayout td.gutter ul {
  padding: 0;
}
.contrib table.contribLayout td.gutter ul li {
  list-style-type: none;
  padding: 0 10px 10px;
}

.contrib table.contribLayout td ul.gutterExtras li  {
  font-size: 8pt;
}

table.contribParas {
  width: 100%;
  padding: 0;
}

table.contribParas td.trans, table.contribParas td.orig {
  width: 50%;
  vertical-align: top;
}

table.contribParas td.trans {
  color: #333;
  padding-right: 15px;
  border-right: 1px dashed #ccc;
}

table.contribParas td.orig {
  color: #999;
  padding-left: 15px;
  border-right: 1px dashed #fff;
}
