body {
	margin: 0;
	font: 15px verdana, Helvetica, sans-serif;
	line-height: 20px;
	color: #212121;
	margin: 0 40px;
}

h1, h2, h3 {
  margin: 10px;
	font-family: Georgia, Helvetica, sans-serif;
	color: #333;
}

a {
	color: #393939;
}

a:hover {
	text-decoration: none;
	color: #393939;
}

a img {
	border: none;
}

hr {
	display: none;
}

/* Header */
#header h1 a {
	text-decoration: none;
	color: #333;
}

/* Content */

#content {
	padding-top: 5px;
}

.photoList {

}

.photoList .photoListMember {
  float: left;
  width: 90px;
  height: 180px;
  margin: 1px;
  background: #eee;
}

.photoList .photoListMember img {
  width: 60px;
}

.photoList .photoListMember a {
  text-decoration: none;
}

.memberLink img {
  float: left;
  width: 170px;
  height: 215px;
  margin-right: 4px;
}

.memberLink a.memberName {
  font-weight: bold;
  font-size: larger;
}


.contrib {
  margin-bottom: 30px;
}

.contrib h2 {
  font-size: 48pt;
  line-height: 36pt;
  padding: 16px 0 0 0;
  border-top: 8px solid #ddd;
}

.contrib table.contribLayout td {
  vertical-align: top;
}

.contrib table.contribLayout td.gutter {
  width: 190px;
  background: #eee;
}

.contrib table.contribLayout td.gutter img.headshot {
  margin: 20px auto;
  display: block;
  border: 1px solid #ddd;
}
.contrib table.contribLayout td.gutter ul {
  padding: 0;
}
.contrib table.contribLayout td.gutter ul li {
  list-style-type: none;
  padding: 0 10px 10px;
}

table.contribParas {
  width: 100%;
  padding: 0;
}

table.contribParas td.trans, table.contribParas td.orig {
  width: 50%;
  vertical-align: top;
}

table.contribParas td.trans {
  color: #333;
  padding-right: 15px;
  border-right: 1px dashed #ccc;
}

table.contribParas td.orig {
  padding-left: 15px;
  color: #999;
  border-right: 1px dashed #fff;
}
