<% @page_title = 'European Parliament sittings' %>
<div class="info">
  <h1>European Parliament sittings</h1>
  <% @sittings.each do |sitting| %>
  <div>
    <%= link_to sitting.sat_on, sitting %>
    <%=h sitting.location %>
  </div>
  <% end %>
</div>
