<% @page_title = 'European Parliament sittings' -%>

<% content_for :head do -%>
<link href="<%= sittings_path(:format=>'atom') %>" type="application/atom+xml" rel="alternate" title="Sittings atom Feed" />
<% end -%>

<div class="info">
  <h1>European Parliament sittings</h1>
  <ul>
  <% @sittings.each do |sitting| -%>
    <li>
      <h2><%= link_to sitting.sat_on.strftime("%d %B %Y").sub(/^0/,''), sitting -%> -
      <%=h sitting.location -%>
      </h2>
      <p><strong>Tags:</strong>
      <% (YAML::load(sitting.tags.to_s)).to_a.each do |tag| %>
        <%= link_to h(tag), tag_path(CGI.escape(h(tag))) %>
      <% end %>
      </p>
    </li>
  <% end -%>
  </ul>
</div>
