<% @page_title = 'European Parliament Members' %>
<div class="info">
  <h1>European Parliament Members</h1>
  <div class="photoList">
  <% @members.each do |member| %>
    <div class="photoListMember"><%= link_to image_tag(member.photo, :width=>85) + h(member.name), member %>, <%= link_to h(member.party), member %></div>
  <% end %>
  </div>
</div>
